head
    title quotes
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Play', rel='stylesheet', type='text/css')
body
    .login.animated.fadeInDown
        +loginButtons align='right'
        if loggedIn
            +userLevel
    form.action-bar.details-line
        .action-bttn.action-add +
        .action-logo
        input(type='search', placeholder='Search quotes...').action-search-field
        input(type='submit', value='GO').action-bttn.action-search-bttn

    .quotes
        if addQuoteOpen
            +addQuote
        +quotes


template(name='addQuote')
        form.quote.add-quote.animated.bounceIn(editing=editing)
            unless loggedIn
                .not-logged-in.details-line You are not logged in. You will not be able to edit any quotes you submit.
            textarea.quote-text(placeholder='Your quote', name='quote')=text
            .quotes-details
                .quote-icon(style='background-image: url(#{iconUrl})')
                input.quote-game(placeholder='Where?', name='where', value=game)
                input.quote-author(placeholder='Who?', name='who', value=author)
            input.button.submit(type='submit', value=addText)
            input.button.cancel-button(type='button', value='Cancel')
            .clear

template(name='quotes')
    each quotes
        if editing
            +addQuote editing=true text=text game=game author=author _id=_id
        else
            .quote.animated.fadeInDown(quote-id=_id)
                if canModerate
                    .quote-moderation
                        a.quote-mod-del(href='#') Remove
                        a.quote-mod-edit(href='#') Edit
                .quote-text=text
                .quotes-details
                    .quote-icon(style='background-image: url(#{iconUrl})')
                    .quote-game=game
                    .quote-author - #{author}

template(name='userLevel')
    .user-level=userLevel
