head
    title quotes
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Play', rel='stylesheet', type='text/css')
body
    .login.animated.fadeInDown
        +loginButtons align='right'
    .action-bar.details-line.animated.fadeInDown
        .action-bar-left
            .action-bttn.action-add +
        form.action-bar-right
            input(type='search', placeholder='Search quotes...').action-search-field
            input(type='submit', value='GO').action-bttn.action-search-bttn

    .quotes
        if addQuoteOpen
            +addQuote
        +quotes


template(name='addQuote')
        form.quote.add-quote.animated.bounceIn
            unless loggedIn
                .not-logged-in.details-line You are not logged in. You will not be able to edit any quotes you submit.
            textarea.quote-text(placeholder='Your quote', name='quote')
            .quotes-details
                .quote-icon(style='background-image: url(#{iconUrl})')
                input.quote-game(placeholder='Where?', name='where')
                input.quote-author(placeholder='Who?', name='who')
            input.button.submit(type='submit', value='Add quote')
            input.button.cancel-button(type='button', value='Cancel')
            .clear

template(name='quotes')
    each quotes
        .quote.animated.fadeInDown
            .quote-text=text
            .quotes-details
                .quote-icon(style='background-image: url(#{iconUrl})')
                .quote-game=game
                .quote-author - #{author}
